name: CodeQuality
on:
  workflow_dispatch:
  repository_dispatch:
  push:
    branches:
      - '**'
      - '!main'
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'
      - '!.github/workflows/CodeQuality.yml'

  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'
      - '!.github/workflows/CodeQuality.yml'

jobs:
  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    if: ${{ !(github.event_name == 'pull_request' && startsWith(github.head_ref, 'vendoring-')) }}

    steps:
      - uses: actions/checkout@v4

      - name: Install
        run: |
          sudo pip3 install      \
            black==25.1.0        \
            clang_format==11.0.1 \
            cmake-format==0.6.13

      - name: Format Check
        run: |
          python -m pip show black
          python -m pip show cmake_format
          python -m pip show clang_format
          clang-format --version
          clang-format --dump-config
          make format-check-silent
